header, article, footer, aside, nav, details, summary, section, section header h1, .js details summary {
  display:block;
}

html {
  background: none repeat scroll 0 0 #C4C4C4;
  height:100%;
}

html, input, textarea {
  font: 12px/1.6 'Lucida Grande',Helvetica,Arial,sans-serif;
}

aside nav a:hover, aside nav a:focus {
  background: none repeat scroll 0 0 #00315D;
  color: #FFFFFF;
}

.h4x0r {
  background: none repeat scroll 0 0 pink;
  font-family: 'Comic Sans MS';
}

html, body, h1, h2, h3, ul, ul ul, ol, li, nav, fieldset, blockquote {
  border: 0 none;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

body {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #AAAAAA;
  border-style: solid;
  border-width: 0 1px;
  color: #000000;
  margin: 0 auto;
  min-height: 500px;
  padding: 20px 40px;
  width: 880px;
}

h1, h2, h3 {
  font-size: 21px;
  font-weight: normal;
}

#content h1 ~ article h1, h3 {
  font-size: 16px;
  font-weight: bold;
}

#content h1 ~ article h1 code {
  font-size: 15px;
}

pre, code, var, kbd {
  font-family: Monaco,'Lucida Console',monospace;
  font-size: 13px;
}

pre, pre code {
  font-size: 12px;
}

h1 code, h2 code {
  font-size: 20px;
}

mark, kbd {
  background: none repeat scroll 0 0 #FFFFCC;
  padding: 1px;
}

kbd {
  background: none repeat scroll 0 0 #E3E3E3;
  font-size: 12px;
}

p, h1, h2, h3, ul, ol {
  margin: 0 0 1em;
}

h1, h2, h3 {
  margin-bottom: 0.5em;
}

aside article, details, input, textarea, #comments article, section header {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 0 0.2em #000000;
  margin-bottom: 1em;
  padding: 10px;
}

form input, form textarea {
}

:invalid {
  background: none repeat scroll 0 0 #FCD1D1;
}

aside article:hover, details:hover, input:hover, input:focus, textarea:hover, textarea:focus, #comments article:hover, pre:hover, blockquote:hover, section header:hover {
  box-shadow: 0 0 0.4em #000000;
}

aside article:hover a {
  text-decoration: underline;
}

aside article, .js pre {
  overflow: hidden;
}

aside .meta {
  font-size: 0.8em;
  text-align: right;
}

aside .meta a {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
  border: 0 none !important;
  border-radius: 4px 4px 4px 4px;
  color: #000000;
  padding: 8px;
  text-decoration: none !important;
}

#tweets .meta a:hover, #tweets .meta a:focus {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
  color: #000000;
}

a, #comments article:hover time a, #comments article:hover .comment-reply {
  color: #007CD6;
  padding: 2px 1px;
  text-decoration: underline;
}

a {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
}

a[rel*="tag"] {
  color: #929292;
  text-decoration: none;
}

a[rel*="via"] {
  color: #007CD6;
  text-decoration: none;
}

a[hreflang="nl"]:after, aside nav a:hover:after, aside nav a:focus:after, a[href$=".pdf"]:after {
  color: #929292;
  content: " [nl]";
  font-size: 80%;
  position: relative;
  top: -1px;
}

a[href$=".pdf"]:after {
  content: " [pdf]";
}

a:hover, a:focus, aside article:hover a:hover, aside article:hover a:focus, header nav a {
  background: none repeat scroll 0 0 #E3E3E3;
  border: 0 none;
  border-radius: 4px 4px 4px 4px;
  color: #000000;
  text-decoration: none;
}

a:focus, details summary:focus {
  background-color: #007CD6;
  color: #FFFFFF;
  outline: 0 none;
}

#content, aside {
  float: left;
}

#content {
  font-size: 120%;
  margin-right: 20px;
  width: 610px;
}

#content li {
  margin-left: 30px;
  position: relative;
}

#content ul li:before {
  content: "★";
  left: -20px;
  margin-right: 0.5em;
  opacity: 0.5;
  position: absolute;
}

#content ol {
  padding: 0 0 0 1.5em;
}

#content ol li {
  list-style: decimal outside none;
}

section header {
  background: none repeat scroll 0 0 #3D3D3D;
  color: #FFFFFF;
  display: block;
  padding: 1em 2em;
}

section header a, aside a:focus:after {
  color: #FFFFFF;
}

section header a:hover {
  color: #3D3D3D;
}

*::-moz-selection {
  background: none repeat scroll 0 0 #007CD6;
  color: #FFFFFF;
}

blockquote {
  margin-bottom: 1em;
}

blockquote p:last-child, details div p:last-child {
  margin: 0;
}

#comment-preview, details div {
  margin-top: 1em;
}

aside nav a {
  border: 0 none;
  border-radius: 4px 4px 4px 4px;
  color: #000000;
  display: block;
  padding: 4px 8px;
  text-decoration: none;
}

aside nav a:before {
  content: "★";
  font-weight: normal;
  margin-right: 0.5em;
  opacity: 0.5;
}

aside nav a:hover:after, aside nav a:focus:after {
  background: none repeat scroll 0 0 transparent;
  color: #FFFFFF;
  content: " → " attr(data-info);
  font-size: 100%;
  top: 0;
}

aside nav .current a, #content #comments .meta .author {
  font-weight: bold;
}

header h1, legend, .js details div, #comments .comment-reply, #comments .comment-reply {
  display: none;
}

header nav {
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
}

header nav li, #comments article:hover .comment-reply {
  display: inline;
}

header nav a {
  float: left;
  font-size: 150%;
  margin-right: 3%;
  padding: 20px 1.5%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 28.3%;
}

header nav li:last-child a {
  margin-right: 0;
}

header nav a:hover, header nav a:focus {
  background: none repeat scroll 0 0 #3D3D3D;
  color: #FFFFFF;
}

.figure {
  text-align: center;
}

.figure img {
  background: none repeat scroll 0 0 #E3E3E3;
  padding: 5px;
}

label {
  cursor: pointer;
  float: left;
  width: 100px;
}

label em {
  color: #B00B00;
  font-style: normal;
  font-weight: bold;
}

input, textarea {
  border: 0 none;
  margin: 0;
  padding: 4px;
}

input {
  width: 300px;
}

input[type="submit"] {
  cursor: pointer;
  width: auto;
}
textarea {
  resize: vertical;
  width: 602px;
}

pre, blockquote {
  background: none repeat scroll 0 0 #E3E3E3;
  overflow: auto;
  padding: 10px;
  position: relative;
  z-index: 99;
}

.error strong {
  margin-left: 5px;
}

details summary {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACm0lEQVR42qWT3U%2BSYRiH%2B1v0T%2Bh9O2ltetBcmw3yTTvIrGGaqK10FWaDVYqJ%2BAUoYEMwP/KD8gtKUoQEXsnekI/Q1DcHZtDWVieQtSx/PdKGtVwnHlwnz577up/f7uc%2BBOBA/HOQp1/JPKkNS3PVIf54sy%2BRreQSWcoFPkvplR67x2b%2BVyDQLTMnVMF4eU8APc4oRtnNFCZ7BCLdC9DS2TgtszP7CkhXJqfFn2yeXIXNF0f3dBRy8xvcHV6GyrIKs2sDDaNh0BUTSfrKBPOXIFcTyshpXYztFltexiElRTcHghjyvMOQewM3egOQ9AfRO7sO%2BaMA6FJzjC4ZzkgLclSLsjKDD1buA2oHwpCQCNeMfnz5tp2iysihqpuD5IEPA88jONv0DFRhvywtyG7leJM9Co2Fx/UeP6qNPlQZOPQ519FLqOhif6P3kFhB6KZXQBcY%2BbTgqJzdGl94j9q%2BAOn0CpX3veQyCwDYIYi1bpR1zBFcuKx3w8xGQDGdW2kBLXNujXk3d7OmOpXrPKTIg3D0M5Jft1Ha7kRJmwMXCWK1AyPzRCBU/ymw8wY7D8XjJVTqvRB3unFJM4fXkU9E8B3FyhkUk9yiJhtqullobCHQp9r5PUGNTVakcmLIFUWlloVY5YKN28CPnzupCIG3H1EktxIs6HoSRsGtUSJok%2B0Jro5l0GJz7M6IH732NZSqHBA1T%2BO8YgpF9Racq5tAYd04WkZ8ZLzz5PmKGC1UpMeYghINMofzTUnpIAfTzAokBjd58lNcaLCiWuuAzhKEpI8FLahPkmJm369MFZgYKr8rfub2JDRTS3jo5glraLeGkFdrBiVoiNPCRua/y0Sf1mVSTIeUylPzlLApQQkaE6QjT5AeEdbvu0wH4hc4hsvsbED0hwAAAABJRU5ErkJggg%3D%3D") no-repeat scroll 0 2px transparent;
  padding-left: 22px;
}

.js details summary {
  cursor: pointer;
}

.google-maps-styled {
  height: 250px;
  width: 100%;
}

.js .google-maps {
  margin-bottom: 12px;
  margin-top: 278px;
}

.google-maps-styled a:hover, .google-maps-styled a:focus {
  background: none repeat scroll 0 0 transparent;
}

.js .google-maps, .google-maps-link {
  font-size: 80%;
  text-align: right;
}

#content .meta {
  font-size: 12px;
  margin-top: -1em;
}

#content #comments .meta {
  font-size: 14px;
  margin-top: 0;
}

#comments .figure {
  float: right;
  margin: 0;
}

#comments time a {
  color: #000000;
  text-decoration: none;
}

#comments time a:focus, #comments .comment-reply:focus {
  color: #FFFFFF !important;
}

#comments .mathias {
  background: none repeat scroll 0 0 #EEEEEE;
}

#comments article:target {
  background: none repeat scroll 0 0 #E1F0FB;
}

aside {
  margin-bottom: 20px;
  padding-left: 20px;
  width: 227px;
}

aside code {
  font-size: 0.95em;
}

footer {
  border-top: 1px solid #A9A9A9;
  clear: both;
  padding-top: 20px;
  text-align: center;
}

#adsense {
  height: 66px;
}

iframe {
  margin-left: 71px;
}

.str, .atv {
  color: #008800;
}

.kwd, .tag {
  color: #000088;
}

.com {
  color: #880000;
}

.typ, .atn, .dec {
  color: #660066;
}

.lit {
  color: #006666;
}

.pun {
  color: #666600;
}

.pln {
  color: #000000;
}

.str {
  color: #006600;
}

.kwd, .tag {
  color: #000066;
  font-weight: bold;
}

.com {
  color: #660000;
  font-style: italic;
}

.typ {
  font-weight: bold;
}

.lit {
  color: #004444;
}

.pun {
  color: #444400;
}

.atn, .typ {
  color: #440044;
}

.atv {
  color: #006600;
}

html, body {
  border: 0 none;
  margin: 0 !important;
  max-width: 100%;
  padding: 0 !important;
  width: 100%;
}

#content, aside {
  padding: 3%;
}

html {
  background: none repeat scroll 0 0 #FFFFFF !important;
  min-height: 460px;
}

body, #content, aside {
  width: auto;
}

pre, blockquote, article, textarea {
  max-width:100%;
  white-space:normal;
}

textarea, input {
  width: 200px;
}

aside {
  display: none;
}

section header {
  width: 87%;
}

header nav ul {
  margin: 0 10px;
}

details, input, textarea, #comments article, section header, input, textarea {
  border: 1px solid #D3D3D3;
}

.comment-reply {
  display: inline !important;
}
