<p>Leave Your Comment</p>  
<p> 
  <input id="comment_name" name="comment[name]" size="30" type="text" /> *
  <label for="comment_name">Name</label> 
</p> 
<p> 
  <input id="comment_email" name="comment[email]" size="30" type="text" /> *
  <label for="comment_mail">Mail</label> 
</p> 
<p> 
  <input id="comment_website" name="comment[website]" size="30" type="text" /> 
  <label for="comment_website">Website</label> 
</p> 
<p> 
  <textarea cols="60" id="comment_content" name="comment[content]" rows="12"></textarea> 
</p> 
<p> 
  <input id="comment_commit" name="commit" type="submit" value="Leave Your Comment" /> 
</p>