<section id="tags">
  <%= render "tag", :collection => @tags %>

<h3>Add New Tag</h3>
<%= form_for @tag, :as => :tag, :url => tags_path, :remote => true do |f| %>
<p>
  <%= f.text_field :name %>
</p>
<%= submit_tag "add" %>

<% end %>
</section>
