<section id="tags">
  <%= render :partial => "tag", :collection => @tags %>
</section>

<h1>Add New Tag</h1>
<%= form_for @tag, :as => :tag, :url => tags_path, :remote => true do |f| %>
<p>
  <%= f.text_field :name %>
</p>
<%= submit_tag "add" %>

<% end %>