<aside>
  <section id="recent">
    <h2>Recent Posts</h2>
    <ul>
      <% posts.each do |post|%>
      <li><%= link_to post.title, post_slug(post) %></li>
      <% end %>
    </ul>
  </section>
  <section id="tags_cloud">
    <h2>Tags</h2>
    <ul>
      <% tags.each do |tag|%>
      <li><%= link_to tag.name, tag, { :style => "font-size: #{10}pt" } %></li>
      <% end %>
    </ul>
  </section>
</aside>