<section id="contents">
  <% unless @posts.nil? %>
    <%= render @posts %>
  <% else %>
    <%= render @post %>
  <% end %>
</section>

<% unless @post.nil? %>
<section id="comments">
    <ol id="comments_list">
      <%= render @post.first.comments %>
    </ol>
  
  <%= render :partial => "comments/new_comment", :locals => { :post => @post.first }%>
</section>
<% end %>