<section class="post_meta">
  <p>Created @ <time datetime="{{datetime}}">{{datetime}}</time></p>
</section>
<section class="post_content">
  <h1><a href="{{ articleLink }}">{{title}}</a></h1>
  {{{content}}}
</section> 
<section class="comments">
  <button id="{{_id}}">View Comments</button>
</section>