<section class="post_title">
  <h1><a href="{{ articleLink }}">{{title}}</a></h1>
</section>
<section class="post_meta">
  <p>Created @ <time datetime="{{datetime}}">{{datetime}}</time></p>
</section>
<section class="post_content"> 
  {{{content}}}
</section>
<section class="comments">
  <button id="{{_id}}" class="btn primary">View Comments</button>
</section>