<div class="inner">
  <div class="container">
    <div id="tools">
      <h3>Powered by</h3>
      <ul>  
        <li><a href="https://cloudant.com/"><img alt="Mozilla Firefox" height="30" src="/images/cloudant-logo.png"  /></a></li>
        <li><a href="http://heroku.com/"><img alt="Heroku" height="30" src="/images/heroku-logo.png" /></a></li>
        <li><a href="http://www.rubyonrails.org/"><img alt="Ruby on Rails" height="30" src="/images/rails.png" /></a></li>
      </ul>
    </div>
  </div>
</div>