<h1><a href="http://www.lainuo.info/">Traces</a></h1>
<section id="colors">
  <ul>
    <li><a href="/feed"><img alt="Feed" height="36" src="/images/feed.png" width="36" /></a></li> 
    <li><a href="http://twitter.com/lainuo"><img alt="Twitter" height="36" src="/images/twitter.png" width="36" /></a></li>
  </ul>
</section>
<nav>
  <ul>
    <li id="nav_home"><a href="#">Home</a></li> 
    <li><a href="http://about.me/lainuo">About</a></li>
  </ul>
</nav>