<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">Traces</a>
      <div class="container nav-collapse">
        <div class="inner-links">
          <ul class="nav">
            <li id="nav_home"><a href="">Home</a></li>
            <li><a href="http://about.me/lainuo">About</a></li>
          </ul>
        </div>
        <div class="divider">
          <ul class="nav">
            <li class="divider-vertical"></li>
          </ul>
        </div>
        <!-- <div class="remembering-steve-jobs">
          <ul>
            <li><a href="http://apple.com">Steve Jobs 1955-2011</a></li>
          </ul>
        </div> -->
        <div id="sign-in">
          <ul class="nav pull-right">
            <li><a href="users/sign_in">Sign in</a></li>
          </ul>
        </div>
        <div id="sign-out" class="invisible">
          <ul class="nav pull-right">
            <li>
              <a href="users/sign_out">Sign out</a>
            </li>
          </ul>
        </div>
        <div class="outside-links">
          <ul class="nav">
            <li><a href="/feed"><img alt="Feed" src="/assets/feed-icon-28x28.png" height="20" width="20"/></a></li>
            <li><a href="http://twitter.com/lainuo"><img alt="Twitter" src="/assets/twitter.png" height="20" width="20" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

