<div id="new_post">
  <header>
    <section class="new_post_title">
      <input type="text" id="new_post_title" name="new_post_title" placeholder="Title">
    </section>
    <section class="new_post_slug">
      <input type="text" id="new_post_slug" name="new_post_slug" placeholder="slug">
    </section>
  </header>
  <section class="new_post_attachments">
    <a href="#">Attach Files</a>
  </section>
  <section class="new_post_content">
    <textarea placeholder="Say something?"></textarea>
  </section>
</div>
