body {
  background: url('/assets/bg-stark.png') repeat scroll 0 0 #C4C4C4;
}

article {
  margin-bottom: 40px;
  
  h1, h2 {
    margin-bottom: 18px;
  }
  
  p {
    font-size: 16px;
    color: #222;
    line-height: 24px;
  }
  
  code, pre {
    font-family:"Monaco", "Courier New", monospace;
    font-size: 12px;
    line-height: 150%;
    background-color: #222;
    color: #fff;
    border: none;
  }
  
  pre {
    -moz-border-radius:5px;
    -moz-box-shadow:0 -1px 0 #444;
    -webkit-border-radius:5px;
    -webkit-box-shadow:0 -1px 0 #444;
    background-color:#222;
    color:#fff;
    font-size: 13px;
    padding: 20px;
    text-shadow:0 1px 0 #000;
    /*width: 490px;*/
    margin: 0px 0px 18px -40px;
  }
  
  .post_meta {
    margin-bottom: 18px;
    p {
      color: #436EC0;
    }
  }
}

footer {
  border-top: 1px solid #eee;
  .container {
    margin-top: 20px; 
    #tools {
      float: right;
      h3 {
        margin-bottom: 10px;
      }
      ul {
        list-style: none outside none;
        li {
          float: right;
          margin-left: 10px;
        }
      }
    }
  }
}

.comments {
  margin-top: 30px;
  h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .comments_list {
    padding-left: 20px;
    text-align: left;
    a {
      font-size: 14px;
    }
    li {
      margin-bottom: 18px;
    }
  }
  
  legend {
    margin: 0;
    padding-left: 140px;
    font-size: 18px;
  }
  
  .form-horizontal {
    .form-actions {
      padding: 17px 20px 18px 40px;  
    }
    
    .control-group {
      label {
        width: 80px;     
      }
    
      .controls {
        margin-left: 100px;
      }
    }
  }
  
  .input {
    margin-left: 100px;
  }
  
  .xxlarge {
    height: 100px;
    width: 530px;
  }
}

#loader {
  background: url('/assets/bg-stark.png') repeat scroll 0 0 #FFFFFF;
//  background: #D8DCE0;
  width:100%;
  height:100%;
  position:absolute;
  left: 0px;
  z-index: 10001;
  padding:0px;
  margin:0px; 
}

#loader .loading {
  margin: 250px auto;
  width: 240px;
  padding: 0px;
  color:#717880;
  font-size:50px; font-weight:bold;
  text-align:center;
  text-shadow:0 1px 0 #fff;
}

.remembering-steve-jobs {
  position: relative;
  left: 180px;
  ul li a {
    color: #fff;
  }
}

.invisible {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}